.header {
    padding: 2%;
    background-color: rgb(128, 0, 107);
    font-size: 50px;
    text-align: center;
    width: 100%;
    color: white;
 }
 
.erase {
  margin-left: 10px;
}

.tabela {
  margin: 0 20px;
  /* overflow-x: scroll;
  width: 100%; */
}

 .footer {
   padding: 2%;
    background-color: red;
    font-size: 50px;
    text-align: center;
    width: 100%
 }
 
 .dashboard {
   padding: 3% 1%;
 }

h1 {
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: rgba(0, 119, 128, 0.719);
  padding: 5%;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 40px;
}

.mrgnbtm > h2 {
  margin-left: 30px;
}

#busca-textual {
  margin-left: 0;
}